#coinArea {
  width: 300px;
  border: 10px solid black;
  background-color: black;
  display: flex;
  flex-direction: row;
}
#coinImg img {
  width: 80px;
  height: 80px;
}
#coinAmount {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: white;
  margin-left: 10px;
}
#gameArea {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 10px solid black;
  border-radius: 600px;
}
#gameScreen {
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 600px;
  background-size: contain;
}
.resultArea {
  width: 300px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: 20px;
  border: 10px solid lightgray;
}
#selectArea {
  display: flex;
  border: 10px solid lightgreen;
  width: 300px;
  justify-content: space-evenly;
}
#selectArea button {
  border: none;
  width: 50px;
  height: 50px;
}
#sBtn {
  background-image: url(./scissors.png);
  background-size: cover;
}
#rBtn {
  background-image: url(./rock.png);
  background-size: cover;
}
#pBtn {
  background-image: url(./paper.png);
  background-size: cover;
}
#rouletPosition {
  transition: all 5s ease-out;
}
#rouletBase {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;

  /* overflow: hidden; */
}

#rouletBase div {
  width: 63px;
  height: 150px;
  position: absolute;
  left: 118px;
  background-color: blue;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-origin: bottom;
  text-align: center;
}
#rouletBase #item1 {
  transform: rotate(0deg);
}
#rouletBase #item2 {
  transform: rotate(24deg);
}
#rouletBase #item3 {
  transform: rotate(48deg);
}
#rouletBase #item4 {
  transform: rotate(72deg);
}
#rouletBase #item5 {
  transform: rotate(96deg);
}
#rouletBase #item6 {
  transform: rotate(120deg);
}
#rouletBase #item7 {
  transform: rotate(144deg);
}
#rouletBase #item8 {
  transform: rotate(168deg);
}
#rouletBase #item9 {
  transform: rotate(192deg);
}
#rouletBase #item10 {
  transform: rotate(216deg);
}
#rouletBase #item11 {
  transform: rotate(240deg);
}
#rouletBase #item12 {
  transform: rotate(264deg);
}
#rouletBase #item13 {
  transform: rotate(288deg);
}
#rouletBase #item14 {
  transform: rotate(312deg);
}
#rouletBase #item15 {
  transform: rotate(336deg);
}
#rouletBase :nth-child(3n-2) {
  background-color: teal;
}
#rouletBase :nth-child(3n-1) {
  background-color: forestgreen;
}
#rouletBase :nth-child(3n) {
  background-color: mediumslateblue;
}
